<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>United States</key>
	<array>
		<dict>
			<key>countryname</key>
			<string>United States</string>
			<key>flagname</key>
			<string>usa_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>United States</string>
			<key>countrycode</key>
			<string></string>
		</dict>
	</array>
	<key>Canada</key>
	<array>
		<dict>
			<key>countryname</key>
			<string>Canada</string>
			<key>flagname</key>
			<string>canada_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Canada</string>
			<key>countrycode</key>
			<string></string>
		</dict>
	</array>
	<key>Asia</key>
	<array>
		<dict>
			<key>countryname</key>
			<string>China</string>
			<key>flagname</key>
			<string>asia_china_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Asia</string>
			<key>countrycode</key>
			<string>470</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>India</string>
			<key>flagname</key>
			<string>asia_india_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Asia</string>
			<key>countrycode</key>
			<string>850</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Singapore</string>
			<key>flagname</key>
			<string>asia_singapore_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Asia</string>
			<key>countrycode</key>
			<string>180</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>South Korea</string>
			<key>flagname</key>
			<string>asia_south_korea_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Asia</string>
			<key>countrycode</key>
			<string>2220</string>
		</dict>
		<dict>
			<key>countryname - 2</key>
			<string>Other</string>
			<key>flagname</key>
			<string>asia_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Asia</string>
			<key>countrycode</key>
			<string></string>
			<key>countryname</key>
			<string>Other</string>
		</dict>
	</array>
	<key>Latin America</key>
	<array>
		<dict>
			<key>countryname</key>
			<string>Brazil</string>
			<key>flagname</key>
			<string>latin_america_brazil_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Latin America</string>
			<key>countrycode</key>
			<string>130</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Ecuador</string>
			<key>flagname</key>
			<string>latin_america_ecuador_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Latin America</string>
			<key>countrycode</key>
			<string>710</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Al Salvador</string>
			<key>flagname</key>
			<string>latin_america_al_salvador_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Latin America</string>
			<key>countrycode</key>
			<string>380</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Guatemala</string>
			<key>flagname</key>
			<string>latin_america_guatemala_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Latin America</string>
			<key>countrycode</key>
			<string>370</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Chrish Nevis</string>
			<key>flagname</key>
			<string>latin_america_saint_christ_nevis_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Latin America</string>
			<key>countrycode</key>
			<string>1000</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Other</string>
			<key>flagname</key>
			<string>latinamerica_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Latin America</string>
			<key>countrycode</key>
			<string></string>
		</dict>
	</array>
	<key>Africa</key>
	<array>
		<dict>
			<key>countryname</key>
			<string>Cameroon</string>
			<key>flagname</key>
			<string>africa_cameroon_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Africa</string>
			<key>countrycode</key>
			<string>1350</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Other</string>
			<key>flagname</key>
			<string>africa_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Africa</string>
			<key>countrycode</key>
			<string></string>
		</dict>
	</array>
	<key>Australia</key>
	<array>
		<dict>
			<key>countryname</key>
			<string>Keypass</string>
			<key>flagname</key>
			<string>australia_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Australia</string>
			<key>countrycode</key>
			<string>500</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Other</string>
			<key>flagname</key>
			<string>australia_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Australia</string>
			<key>countrycode</key>
			<string></string>
		</dict>
	</array>
	<key>Europe</key>
	<array>
		<dict>
			<key>countryname</key>
			<string>Albania</string>
			<key>flagname</key>
			<string>europe_albania_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string>1010</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Germany</string>
			<key>flagname</key>
			<string>europe_germany_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string>140</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Lithuania</string>
			<key>flagname</key>
			<string>europe_lithuania_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string></string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Luxembourg</string>
			<key>flagname</key>
			<string>europe_luxembourg_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string></string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Other</string>
			<key>flagname</key>
			<string>europe_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
