<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>United States</key>
	<array>
		<dict>
			<key>countryname</key>
			<string>United States</string>
			<key>flagname</key>
			<string>usa_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>United States</string>
			<key>countrycode</key>
			<string></string>
		</dict>
	</array>
	<key>Canada</key>
	<array>
		<dict>
			<key>countryname</key>
			<string>Canada</string>
			<key>flagname</key>
			<string>canada_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Canada</string>
			<key>countrycode</key>
			<string></string>
		</dict>
	</array>
	<key>Asia</key>
	<array>
		<dict>
			<key>countryname</key>
			<string>China</string>
			<key>flagname</key>
			<string>asia_china_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Asia</string>
			<key>countrycode</key>
			<string>470</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>India</string>
			<key>flagname</key>
			<string>asia_india_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Asia</string>
			<key>countrycode</key>
			<string>850</string>
		</dict>
	</array>
	<key>Latin America</key>
	<array>
		<dict>
			<key>countryname</key>
			<string>Brazil</string>
			<key>flagname</key>
			<string>latin_america_brazil_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Latin America</string>
			<key>countrycode</key>
			<string>130</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Argentina</string>
			<key>flagname</key>
			<string>latin_america_argentina_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Latin America</string>
			<key>countrycode</key>
			<string></string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Colombia</string>
			<key>flagname</key>
			<string>latin_america_colombia_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Latin America</string>
			<key>countrycode</key>
			<string>380</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Mexico</string>
			<key>flagname</key>
			<string>latin_america_mexico_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Latin America</string>
			<key>countrycode</key>
			<string></string>
		</dict>
	</array>
	<key>Europe</key>
	<array>
		<dict>
			<key>countryname</key>
			<string>Germany</string>
			<key>flagname</key>
			<string>europe_germany_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string>140</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>United Kingdom</string>
			<key>flagname</key>
			<string>europe_united_kingdom_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string></string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Spain</string>
			<key>flagname</key>
			<string>europe_spain_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string>150</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>France</string>
			<key>flagname</key>
			<string>europe_france_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string>90</string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Austria</string>
			<key>flagname</key>
			<string>europe_austria_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string></string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Netherlands</string>
			<key>flagname</key>
			<string>europe_netherlands_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string></string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Portugal</string>
			<key>flagname</key>
			<string>europe_portugal_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string></string>
		</dict>
		<dict>
			<key>countryname</key>
			<string>Poland</string>
			<key>flagname</key>
			<string>europe_poland_45x45.png</string>
			<key>imageresize</key>
			<string>ID</string>
			<key>regionname</key>
			<string>Europe</string>
			<key>countrycode</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
